@media (min-width: 1440px) {

    /*Базовые стили для документа*/
    body {
        user-select: none;
    }

    .container {
        margin: 0 auto;
        width: 1248px;
    }

    /*Стили для шапки*/
    header {
        color: #606060;
    }

    .headerContainer {
        display: flex;
        justify-content: space-between;
        padding-top: 60px;
        padding-bottom: 40px;
    }

    .logoAndNav {
        display: flex;
        flex-direction: row;
    }

    .mainLogo {
        margin-right: 110px;
        width: 112px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navContainer {
        display: flex;
        align-items: center;
    }

    .navContainer>nav>a {
        margin-right: 50px;
        font-size: 18px;
        font-family: Inter;
        color: #606060;

    }

    .signInUp {
        display: flex;
    }

    .loginContainer,
    .signUpContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 18px;
    }

    .loginContainer {
        padding: 18px 27px 18px 27px;
        color: #606060;
    }

    .signUpContainer {
        padding: 18px 27px 18px 27px;
        border-radius: 10px;
        color: #F9F9F9;
        background-color: #6C5FBC;
    }

    .underLine {
        width: 100%;
        height: 1px;
        background-color: #CBCBCB;
    }

    /*Стили первого продающего блока*/
    .purpleText {
        color: #5C4EAE;
    }

    .firstSellingBlock {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .firstSellingTextContainer {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    /*Блок с количеством пользователей*/
    .countOfUsers {
        display: flex;
        align-items: center;
        opacity: 0.2;
    }

    .countOfUsersLine {
        width: 54px;
        height: 1px;
        background-color: #201F1F;
        margin-right: 10px;
    }

    .countOfUsersValue {
        font-weight: 600;
        font-size: 15px;
        color: #201F1F;
        font-family: Poppins;
    }
    /*Блок с стилизацией заголовка*/
    .textContainer {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-bottom: 30px;
    }

    .headerTitle1 {
        font-weight: 600;
        font-size: 75px;
        line-height: 90px;
        letter-spacing: -3px;
        font-family: Poppins;
        padding-bottom: 20px;
    }

    .descriptionUnderTitle1 {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        text-align: justify;
        font-family: Inter;
        margin-right: 80px;
        color: #676767;
    }
    /*Блок с стилизацией кнопок*/
    .subscrybeButons {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .getStartedTitle1 {
        color:#FFFFFF;
        font-family: Poppins;
        background-color: #6C5FBC;
        line-height: 25px;
        padding: 12px 25px 12px 25px;
        border-radius: 10px;
        margin-right: 10px;
        font-size: 17px;
    }
    .goProTitile1 {
        font-family: Poppins;
        color: #6C5FBC;
        border: 1px solid #6C5FBC;
        border-radius: 10px;
        padding: 12px 25px 12px 25px;
        line-height: 25px;
        font-size: 17px;
    }
    /*Блок с рейтингом в приложении*/
    .rateBlock {
        display: flex;
        align-items: center;
    }
    .rateLogo {
        width: 123px;
        margin-right: 15px;
        
    }
    .starImagesTitle1 {
        display: flex;
        margin-right: 10px;
    }
    .countOfRates {
        font-family: Plus Jakarta Sans;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #334155;
    }
    /*Блок продающих картинок*/
    .firstSellingImages {
        width: 680px;
        height: 680px;
        flex: 0 0 auto;

    }
    .backgroundPurpleRound {
        width: 430px;
        height: 430px;
        border-radius: 50%;
        background-color: #6C5FBC;
        position: relative;
        top: 125px;
        left: 125px;
        z-index: 0;
    }
    .bigFoodImage>img {
        position: relative;
        top: -290px;
        left: 100px;
        z-index: 1;
    }
    .shadule {
        position: relative;
        top: -500px;
        left: 0px;
        z-index: 3;
    }
    /*Область заказа на картинке*/
    .newOrder {
        width: 330px;
        height: 90px;
        border-radius: 17px;
        background-color: #fff;
        box-shadow: 1px 5px 30px gray;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;
        top: -1270px;
        left: 300px;
        z-index: 3;
    }
    .foodArea {
        display: flex;
    }
    .nameOfDish {
        font-family: Poppins;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #323142;
    }
    .deliveryStatus {
        font-family: Poppins;
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        color: #323142;
        padding-bottom: 15px;
    }
    .orderDescription {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .orderTime {
        font-family: Poppins;
        font-weight: 500;
        font-size: 11px;
        line-height: 15px;
        padding: 10px;
        color: #ACADB9;
    }
    .orderImage>img {
        max-width: 80px;
        max-height: 80px;
        margin-right: 20px;
        padding-left: 10px;
        padding-bottom: 5px;
    }
    /*Конец области заказа на кртинке*/
    .downDrawing {
        position: relative;
        top: -590px;
        left: -10px;
        z-index: 4;
    }
    .topDrawing {
        position: relative;
        top: -1140px;
        left: 630px;
        z-index: 4;
    }
    .topArrowDrawing {
        position: relative;
        top: -1040px;
        left: 520px;
    }

    /*Блок с перимуществами*/
    .advantages {
        background-color: #6C5FBC;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .advantagesContainer {
        width: 950px;
        display: flex;
        justify-content: space-between;
        padding: 40px 0;
    }
}